@import "tailwindcss";

.clip-triangle {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

body, html {
  position: relative !important;
  overflow-y: auto !important;
  height: auto !important;
}
.abc{
  max-height: 500px!important;
}