@media print {
  body {
    margin: 0;
    padding: 0;
  }

  /* Hide everything except receipt */
  body * {
    visibility: hidden;
  }

  #receipt-content,
  #receipt-content * {
    visibility: visible;
  }

  #receipt-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px !important;   /* Fixed width for thermal printer */
    padding: 0 !important;    /* Remove modal padding */
    margin: 0 !important;
    font-family: "Courier New", monospace;
    font-size: 12px;
    color:  black !important; 
    background: #fff !important; /* No gray modal background */
    box-shadow: none !important;
    border: none !important;
  }


  .no-print {
    display: none !important;
  }

  hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 4px 0;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; /* Makes fonts look crisp */
  background-color: #f8fafc; /* Very light slate background */
}